.App {
 
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
  text-align: center;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
.bgGray{
  background-color: darkgray;
}

.bgBlue{
  background-color: #2f69d4;
}
.btnCustom{
  color: white;
  border: 1px solid;
  border-radius: 15px;
}